# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
temp

node_modules
dist
www
build/app
build/www
build/package-lock.json
build/node_modules
build/logs/*
build/release
build/data/*.db
build/yarn.lock
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build output
server
*.exe
*.gz

# db data
data/design-viewer-dev.db
data/design-viewer.db
*.db

#uploads
uploads
build/uploads

#test
test/data.json
test/*.conf


#web www
www/